* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding: 5px 10px;
    background-color: #3D3D3D;
    color: #F9FCF9;
}

.content {
    background-color: #ADD8E6;
    padding: 10px;
}

.content>h2 {
    padding: 0 0 10px 0;
}

.content>p {
    padding: 5px 0;
}

.content>div {
    background-color: #00FFFF;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}

.content>div>h4 {
    margin: 5px 0 10px 0;
}